.v-application {
  font-family: "Microsoft YaHei", sans-serif;
  a{
    color: initial;
    text-decoration: none;
  }
}

.font-yahei {
  font-family: "Microsoft YaHei", sans-serif;
}

.font-simhei{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-fuild{
  width: 1200px;
  margin: 0 auto;
}

.color-primary{
  color: $c-primary;
}
.color-bg-gray{
  background: $c-bg-gray;
}

.banner{
  max-width: 1920px; 
  min-width:1200px; 
  width:100%;
}

.font-14{
  font-size: 14px;
}
.font-18{
  font-size: 18px;
}
.font-22{
  font-size: 22px;
}
.font-26{
  font-size: 26px;
}
.color-3{
  color: #333;
}
.color-6{
  color: #666;
}
.color-9{
  color: #999;
}

.letter-space-1{
  letter-spacing: 0.1rem;
}

.line-height-1{
  line-height: 1;
}

.line-height-15{
  line-height: 2rem !important;
}

.relative{
  position: relative;
}
.absolute{
  position: absolute;
}

.max-w-100{
  max-width: 100%;
}
