.v-application {
  font-family: "Microsoft YaHei", sans-serif;
  a{
    color: initial;
    text-decoration: none;
  }
}

.font-yahei {
  font-family: "Microsoft YaHei", sans-serif;
}

.font-simhei{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-fuild{
  width: 1200px;
  margin: 0 auto;
}

.banner{
  max-width: 1920px; 
  min-width:1200px; 
  width:100%;
}
.font-10{
  font-size: 10px;
}
.font-12{
  font-size: 12px;
}
.font-14{
  font-size: 14px;
}
.font-16{
  font-size: 16px;
}
.font-18{
  font-size: 18px;
}
.font-20{
  font-size: 20px;
}
.font-22{
  font-size: 22px;
}
.font-26{
  font-size: 26px;
}

.color-primary{
  color: $c-primary;
}
.color-bg-gray{
  background: $c-bg-gray;
}

.color-3{
  color: #333;
}
.color-6{
  color: #666;
}
.color-9{
  color: #999;
}

.letter-space-1{
  letter-spacing: 0.1rem;
}

.line-height-1{
  line-height: 1;
}

.line-height-15{
  line-height: 2rem !important;
}

.fz-1 {
  z-index: -1;
}
.z-0 {
  z-index: 0;
}
.z-1 {
  z-index: 1;
}

.relative{
  position: relative;
}
.absolute{
  position: absolute;
}

.max-w-100{
  max-width: 100%;
}

.image-scale{
  transition: transform 0.2s linear;
  &:hover{
    cursor: pointer;
    transform: scale(1.05);
  }
}

.pointer{
  cursor: pointer;
}
